@charset "UTF-8";
html * {
  margin: 0;
}

body {
  margin: auto;
  font-family: roboto;
  font-size: 14px;
  /* Taille de police ajustée pour les mobiles */
}

.container {
  flex-direction: row;
  justify-content: space-between;
}

.btnAction {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 5px 4px 0px #ddd9d9;
  transition: opacity 500ms ease-in-out;
}
.btnAction:hover {
  opacity: 0.8;
}

.heart-container {
  position: relative;
}
.heart-container i {
  position: absolute;
  right: 10px;
}
.heart-container .fa-heart {
  font-size: 26px;
}
.heart-container .full-heart {
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
}
.heart-container .full-heart:hover {
  opacity: 1;
  color: #9747ff;
}

.icon-color {
  color: #9747ff;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  inset: 0;
  position: fixed;
  z-index: 1;
  opacity: 1;
  animation: nohsow 5s forwards;
}
.loader p {
  font-size: 52px;
  animation: disappear 3s forwards;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes nohsow {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  font-family: shrikhand;
  font-size: 30px;
}
.header__form {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 10px;
}
.header__form input {
  background-color: transparent;
  border: none;
  width: 100px;
}

.header_resto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_resto a {
  font-size: 20px;
  position: absolute;
  left: 10px;
}

.hero {
  background-color: #f6f6f6;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.hero p {
  font-size: 18px;
  margin-bottom: 10px;
}

.hero_resto img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.page_resto {
  width: 100%;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -50px;
  border-radius: 50px 50px 0 0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page_resto__title {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.page_resto h1 {
  font-family: shrikhand;
  font-size: 24px;
}

.menu {
  width: 90%;
  margin-bottom: 30px;
}
.menu__list {
  padding: 0 20px;
  opacity: 0;
}
.menu__list h2 {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 40px;
}
.menu__list h2:after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 40px;
  height: 3px;
  background: #99e2d0;
}
.menu__list .card {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  border-radius: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.menu__list .card__title {
  padding: 10px;
  width: 100%;
  overflow: hidden;
}
.menu__list .card__title h3 {
  margin-bottom: 5px;
}
.menu__list .card__title h3, .menu__list .card__title p {
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}
.menu__list .card__prix {
  padding-right: 5px;
  padding-top: 20px;
}
.menu__list .card__check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  background-color: #99e2d0;
  overflow: hidden;
  transition: width 1s ease-in-out;
}
.menu__list .card:hover .card__check {
  width: 70px;
}
.menu__list .card .fa-check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff !important;
  border-radius: 50%;
  width: 20px;
  color: #99e2d0;
  padding: 4px 2px;
}
.menu .entrees {
  animation: 2s slideUp ease-in-out forwards;
}
.menu .plats {
  animation: 2s slideUp ease-in-out forwards;
  animation-delay: 2s;
}
.menu .desserts {
  animation: 2s slideUp ease-in-out forwards;
  animation-delay: 4s;
}

@keyframes slideUp {
  0% {
    opacity: 1;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media (min-width: 1024px) {
  .page_resto {
    width: 80%;
    margin: auto;
    margin-top: -50px;
  }
  .page_resto__title {
    width: 300px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 30px 20px;
}
.footer img {
  width: 100px;
  filter: invert(1);
  margin-bottom: 20px;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.footer ul a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    padding-right: 5%;
  }
  .footer ul {
    flex-direction: row;
  }
}/*# sourceMappingURL=styles_resto.css.map */