@charset "UTF-8";
html * {
  margin: 0;
}

body {
  margin: auto;
  font-family: roboto;
  font-size: 14px;
  /* Taille de police ajustée pour les mobiles */
}

.container {
  flex-direction: row;
  justify-content: space-between;
}

.btnAction {
  width: 218px;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: #fff;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 5px 5px 4px 0px #ddd9d9;
  transition: opacity 500ms ease-in-out;
}
.btnAction:hover {
  opacity: 0.8;
}

.heart-container {
  position: relative;
}
.heart-container i {
  position: absolute;
  right: 10px;
}
.heart-container .fa-heart {
  font-size: 26px;
}
.heart-container .full-heart {
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
}
.heart-container .full-heart:hover {
  opacity: 1;
  color: #9747ff;
}

.icon-color {
  color: #9747ff;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 100vh;
  width: 100%;
  inset: 0;
  position: fixed;
  z-index: 1;
  opacity: 1;
  animation: nohsow 5s forwards;
}
.loader p {
  font-size: 52px;
  animation: disappear 3s forwards;
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes nohsow {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header__logo {
  font-family: shrikhand;
  font-size: 30px;
}
.header__form {
  width: 100%;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 10px;
}
.header__form input {
  background-color: transparent;
  border: none;
  width: 100px;
}

.header_resto {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_resto a {
  font-size: 20px;
  position: absolute;
  left: 10px;
}

.hero {
  background-color: #f6f6f6;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.hero h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.hero p {
  font-size: 18px;
  margin-bottom: 10px;
}

.hero_resto img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-container {
  background-color: #f6f6f6;
  padding: 50px 20px;
}
.restaurant-containercard {
  display: flex;
}

.restaurants {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.restaurants__card {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: white;
  border-radius: 30px;
}
.restaurants__card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__presentation {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.restaurants .newBtn {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  padding: 10px 12px;
  background-color: aquamarine;
  border-radius: 5px;
}

@media (min-width: 1024px) {
  .restaurant-container {
    padding: 50px 10%;
  }
  .restaurant-container h2 {
    margin-bottom: 30px;
  }
  .restaurant-container .restaurants {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurant-container .restaurants__card {
    width: 47%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 30px 20px;
}
.footer img {
  width: 100px;
  filter: invert(1);
  margin-bottom: 20px;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
.footer ul a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 1024px) {
  .footer {
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    padding-right: 5%;
  }
  .footer ul {
    flex-direction: row;
  }
}
.fonctionnement {
  padding: 50px 20px;
}
.fonctionnement ol {
  list-style: none;
  font-size: 18px;
}
.fonctionnement ol li {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #f6f6f6;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 15px;
}
.fonctionnement ol li span {
  padding: 6px 12px;
  border-radius: 50%;
  margin-left: -30px;
  background-color: #9747ff;
  color: white;
}
.fonctionnement ol li i {
  color: gray;
}
.fonctionnement ol li:hover i {
  color: #9747ff;
}

@media (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 10%;
  }
  .fonctionnement h2 {
    margin-bottom: 30px;
  }
  .fonctionnement ol {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .fonctionnement ol h3 {
    font-size: 14px;
  }
}/*# sourceMappingURL=styles.css.map */